@import './partials/variables';
@import './partials/mediaQueries';
@import './partials/keyframes';

.addBagWrapper {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: auto;
  z-index: 100;
  &.hideWrapper {
    display: none !important;
  }

  .innerContent {
    height: auto;
    display: flex;
    justify-content: space-around;
    background-color: #fff;
    align-items: center;
    padding: 20px 20px 24px 20px;
    border-radius: 4px 4px 0px 0px;
    background: #364659;
    border: none;

    .selectNumber {
      width: 3.5em;
      height: 2em;
      padding: 4px;
    }
  }

  .addBagButton {
    background-color: #fcd816;
    // margin: 16px;
    border-radius: 4px;
    width: 45vw;
    position: relative;
    text-align: center;
    display: inline-block;
    line-height: 48px;
    height: 48px;
    color: #3c3c3c;
    text-decoration: none;
    font-size: 16px;
    padding: 0 32px;
    font-weight: 400;
    border: none;
    // border: 1px solid #3c3c3c;
    box-shadow: 0 3px 6px 0 rgb(0 0 0 / 10%), 0 5px 5px 0 rgb(0 0 0 / 10%);
  }
}

#mobileQuantitySelection {
  position: fixed;
  bottom: 0;
  left: 130px;
  &.initialPosition {
    position: initial;
  }
}
