@import './partials/variables';
@import './partials/mediaQueries';
@import './partials/keyframes';



.promoContainer {
  color: white;
  background-color: black;
  height: auto;
  margin-top: 10px;
  margin-bottom: 18px;
  .promoContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
    .tagLine,
    .tagLine2 {
      font-size: 2rem;
    }
    .codeText {
      span {
        color: #e67a00;
      }
    }
    .tAndC {
      font-size: 0.7em;
    }
  }
}

